@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <p>
        We are having an exciting party. Let's
        <a asp-controller="Invitation" asp-action="Index">join</a>
    </p>
</div>
